<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
            font-size: xx-large;
            background-color:#181a1b;
            color: #cfc100;
            text-align: center;
            }
            .top{
                text-align: center;
            }
            .bottom{
                text-align: center;
            }
        </style>
        <title>404 Not Found</title>
    </head>
    <body>
        <div class="top"> <img src="{{ url_for('static', filename='electricity.gif') }}" alt="borda eletrica maneira"></div>
        <h1>404</h1><br>
        <h3>Sobre contrução...</h3><br>
        <img src="{{ url_for('static', filename='skull2.gif') }}" alt="caveira que gira maneira"><br>
        <div class="bottom"> <img src="{{ url_for('static', filename='electricity.gif') }}" alt="borda eletrica maneira"></div>
    </body>
</html>